
@font-face {
  font-family: 'Novecento-Sans-Web';
  src: url('../../fonts/novecentosanswide-normal-webfont.eot');
  src: url('../../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'),
       url('../../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento-Sans-Web-Bold';
  src: url('../../fonts/novecentosanswide-demibold-webfont.eot');
  src: url('../../fonts/novecentosanswide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/novecentosanswide-demibold-webfont.ttf') format('truetype'),
       url('../../fonts/novecentosanswide-demibold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Merriweather Web';
  src: url('../../fonts/merriweather-light-webfont.eot');
  src: url('../../fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/merriweather-light-webfont.ttf') format('truetype'),
       url('../../fonts/merriweather-light-webfont.svg#merriweatherlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Web';
  src: url('../../fonts/merriweather-lightitalic-webfont.eot');
  src: url('../../fonts/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/merriweather-lightitalic-webfont.ttf') format('truetype'),
       url('../../fonts/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather-Web-Bold';
  src: url('../../fonts/merriweather-bold-webfont.eot');
  src: url('../../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/merriweather-bold-webfont.ttf') format('truetype'),
       url('../../fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Web-Bold-Italic';
  src: url('../../fonts/merriweather-bolditalic-webfont.eot');
  src: url('../../fonts/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/merriweather-bolditalic-webfont.ttf') format('truetype'),
       url('../../fonts/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

.menu{
    font-size: 16px;
}

