// html{
//     height: 100vh;
// }

.contact {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "a b"
    "a b";

    grid-template-columns:1fr 360px;
    grid-gap: 10px;
}

.journal{
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";

    grid-template-columns:1fr 360px;
    
}


.latest-adventures{
    display: grid;
    grid-template-rows: 20vh 20vh;
    grid-template-areas:
    "a a b b"
    "a a c d";
    margin: 50px;
}

.journal-post{
    position: relative;
    margin-bottom: 20px;
    padding: 30px;
}

.post-image-title{
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 450px;
    height: 80px;
    z-index: 1;
    background-color: #248A83;
    
}

.post-image-title h2{
    color: white;
}



.article h2{
    
    // background-color: #248A83;
}