// html{
//     height: 100vh;
// }

.contact {
    display: grid;
    grid-template-areas:
    "a b"
    "a b";

    grid-template-columns:0.9fr 360px;
    grid-gap: 10px;
}

.journal{
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";

    grid-template-columns:0.9fr 360px;
    // grid-auto-rows: auto;
}

.journal-posts{
    grid-area: a;
    align-self: flex-end;
}

.latest-adventures{
    display: grid;
    grid-template-rows: 20vh 20vh;
    grid-template-areas:
    "a a b b"
    "a a c d";
    margin: 50px;
}