.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
    align-self: flex-end;
}

.menu-item{
    padding: 10px;
}

.menu li a{
    font-family: Novecento-Sans-Web;
    color: #248A83;
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.menu-main-container{
    // align-self: flex-end;
    padding-left: 50px;
}

nav img{
    margin-right: 400px;
}



