.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    align-self: flex-end;
}

.menu-item{
    padding: 15px 10px 10px 10px;
}

.menu li a{
    font-family: Novecento-Sans-Web;
    color: #248A83;
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 10px;
}

.menu-main-container{
    // padding-left: 550px;
}

a.search-toggle{
    color:#248A83;
}

#ajaxsearchlite1.wpdreams_asl_container{
    width:250px;
    margin-right: 20px;
    
}

path#magnifier-2-icon{
     color:#248A83;
}

.search-menu{
    display: flex;
    flex-direction: row;
}

div.menu-main-container{
    width:500px;
}

.attachment-large{

    
}







