aside{
    grid-area: b;
    margin-left: 50px;
}

h2.widgettitle{
    font-family: Novecento-Sans-Web;
}

#sidebar h2{
    font-family: Novecento-Sans-Web;
}

.archives-text{
    font-family: Novecento-Sans-Web;
}

.sidebar-item{
    font-size: 16px;
    font-family: Merriweather;
}

