aside{
    grid-area: b;
    padding: 30px;
    border: 1px solid #a1a1a1;
    text-align: left;
}

h2.widgettitle{
    font-family: Novecento-Sans-Web-Bold;
    
}

#sidebar h4{
    font-family: Novecento-Sans-Web-Bold;
}

h1.contact-info-heading{
    font-family: Novecento-Sans-Web-Bold;
}

.archives-text{
    font-family: Novecento-Sans-Web-Bold;
}

.sidebar-item{
    font-size: 16px;
    font-family: Merriweather;
}

#sidebar li{
    padding: 10px;
    
}

#sidebar li a{
    font-family: Novecento-Sans-Web;
    color: #248A83;
    text-decoration: none;
}






