section.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p{
    font-size: 16px;
}

.about-text{
    padding: 100px;
}

img.attachment-large{
    // width: 100%;

}

section.about-text h1{
    text-align: center;
}

.about-text h1{
    font-family: Novecento-Sans-Web;
}

.about-header{
    font-family: Novecento-Sans-Web;
}



