section.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p{
    font-size: 16px;
    line-height: 25px;
}

.about-text{
    padding: 80px 120px 80px 120px ;
}

img.attachment-large{
    filter: brightness(50%);
    
}

figure img.attachment-large{
    filter: brightness(100%);
}

.landing-blog img.attachment-large{
    filter: brightness(100%);
}

.journal-post img.attachment-large{
    filter: brightness(100%);
}

// section.about-text h1{
//     text-align: center;
// }

.about-text h2{
    margin-bottom: 30px;
    text-align: center;
    font-family: Novecento-Sans-Web-Bold;
}

.about-header{
    position: relative;
    top: 350px;
    font-family: Novecento-Sans-Web-Bold;
    color: white;
    z-index: 999;
    font-size: 1.3em;
}



