
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: form;
}

.info h2{
    font-family: Novecento-Sans-Web;
}

.info h3{
    font-family: Novecento-Sans-Web;
}

.info label{
    font-family: Novecento-Sans-Web;
}


