body {
    font-size: 2em;
}

.main-logo{
    position: relative;
    bottom: 350px;
    left: 400px;
}   

.shop-page-product-type{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    // margin-left: 100px;
    justify-content: center;
   
}

.front-page-product-sections{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    margin-bottom: 20px;
    border: 1px solid black;
}

.front-page-product-sections-btn{
    width: 100px;
}

// .front-page-product-sections{
//     width: 100px;
//     height: 80px;
// }

.landing-title{
    text-align: center;
    margin-bottom: 100px;
    font-family: Novecento-Sans-Web;
}

.banner{
    height: 60vh;
}

.landing-heading{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    font-family: Novecento-Sans-Web;
}

.landing-blog{
    height: 500px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
}

section.journal-excerpts{
    display: flex;
    flex-direction: row;
    width: 100vw;


}

.latest-adventures-text{
    font-family: Novecento-Sans-Web;
    margin-top: 50px;
}

div.landing-blog{
    font-family: Merriweather;
}

.front-page-product-sections-btn{
    font-family: Novecento-Sans-Web;
    color: white;
    background: #248A83;
    margin-bottom: 20px;
    height: 40px;
    width: 120px;
}


.read-entry-button{
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    background: white;
    border: 1px solid #808080;
}

.journal-home-ex{

}

.product-section-svg{
    width:100px;
    height:100px;
}
