

.shop-content-grid{
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-template-columns: 20vh 20vh 20vh 20vh;
    grid-gap: 25px;
    justify-content: center;
}

.shop-content-grid a{
    text-decoration: none;
}

img.attachment-large{

    width: 100%;
    height: 80%;
    object-fit: cover;
}


figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #a1a1a1;
    width: 100%;
    height: 100%;
}

figcaption{
    font-size: 16px;
    color: #404040;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
    border: 1px solid #a1a1a1;
    margin-top: 10px;
}

.shop-title{
    text-align: center;
    font-family: Novecento-Sans-Web-Bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.shop-product-type-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.shop-product-type-links a{
    font-family: Novecento-Sans-Web;
}

.product-type-link{
    font-family: Novecento-Sans-Web;
    color: #248A83;
    text-decoration: none;
    font-size: 18px;
}

.single-item-section{
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.single-item-info h2{
    font-family: Novecento-Sans-Web;
    padding-left: 40px;
    // color: #d99054
}

.taxonomy-heading{
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: Novecento-Sans-Web-Bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taxonomy-heading h1{
    margin-bottom: 80px;
}

.item-image img{
    filter: brightness(100%);
}

.single-product-page img{
    margin-bottom: 120px;
    padding: 40px;
    width: 650px;
    height: 500px;
    filter: brightness(100%);
}

.single-product-info-div{
    margin-top: 40px;
}

.single-product-info-div h2{
    margin-bottom: 30px;
    font-family: Novecento-Sans-Web;
    color: #d99054
}

.single-product-info-div p{
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: Merriweather;
}

.single-product-info-div .price-text{
    font-size: 32px;
    font-family: Novecento-Sans-Web;
}
